@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&family=Nunito&display=swap');

:root {
  font-family: 'Kanit', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
   text-decoration: none;
}

::-webkit-scrollbar {
  width: 1.2em;
}
::-webkit-scrollbar-track {
  background: #6C6E8A; 
}
::-webkit-scrollbar-thumb {
  background: rgb(167, 171, 194); 
  border-radius: 100vw;
  border: 0.25em solid #6C6E8A;
}
::-webkit-scrollbar-thumb:hover {
  background: #E5EEFF;
}